@font-face {
  font-family: "FZY4JW";
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.llscdn.com/sprout/font/v1/FZY4JW.ttf") format("truetype");
}

.font-primary {
  font-family: "FZY4JW" !important;
}