<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    * {
      margin: 0;
      padding: 0
    }
    
    body {
      font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
      overflow: auto;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-table
      :data="tableData"
      class="tb-edit"
      ref="table"
      highlight-current-row
      @mouseenter.native="mouseIn = true"
      @mouseleave.native="mouseIn = false"
      @row-click="handleCurrentChange">
      <el-table-column label="日期" width="180">
        <template scope="scope">
          <el-input
            size="small"
            v-model="scope.row.date"
            placeholder="请输入内容"
            v-show="scope.row.isEditStatus"
            @change="handleEdit(scope.$index, scope.row)">
          </el-input>
          <span v-show="!scope.row.isEditStatus">{{scope.row.date}}</span>
      </template>
      </el-table-column>
      <el-table-column label="姓名" width="180">
        <template scope="scope">
          <el-input
            size="small"
            v-show="scope.row.isEditStatus"
            v-model="scope.row.name"
            placeholder="请输入内容"
            @change="handleEdit(scope.$index, scope.row)">
          </el-input>
          <span v-show="!scope.row.isEditStatus">{{scope.row.name}}</span>
      </template>
      </el-table-column>
      <el-table-column prop="address" label="地址">
        <template scope="scope">
          <el-input
            size="small"
            v-model="scope.row.address"
            placeholder="请输入内容"
            v-show="scope.row.isEditStatus"
            @change="handleEdit(scope.$index, scope.row)">
          </el-input>
          <span v-show="!scope.row.isEditStatus">{{scope.row.address}}</span>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template scope="scope">
            <!--<el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>-->
          <el-button
            size="small"
            type="danger"
            @click="handleEdit">
            删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <br>数据:{{tableData}}
  </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
  var app = new Vue({
    el: '#app',
    data() {
      return {
        tableData: [{
          date: '2016-05-02',
          name: '王小虎',
          isEditStatus: false,
          address: '上海市普陀区金沙江路 1518 弄'
        }, {
          date: '2016-05-04',
          name: '王小虎',
          isEditStatus: false,
          address: '上海市普陀区金沙江路 1517 弄'
        }, {
          date: '2016-05-01',
          name: '王小虎',
          isEditStatus: false,
          address: '上海市普陀区金沙江路 1519 弄'
        }, {
          date: '2016-05-03',
          name: '王小虎',
          isEditStatus: false,
          address: '上海市普陀区金沙江路 1516 弄'
        }],
        mouseIn: false
      }
    },
    methods: {
      handleCurrentChange(row, event, column) {
        console.log(row, event, column, event.currentTarget)
        this.resetTableStatus()
        row.isEditStatus = true
      },
      handleEdit(index, row) {
        console.log(index, row);
      },
      handleDelete(index, row) {
        console.log(index, row);
      },
      resetTableStatus () {
        this.tableData.forEach(item => {
          item.isEditStatus = false
        })
      },
      windowClickHandler() {
        const { mouseIn } = this
        if (!mouseIn) this.resetTableStatus()
      }
    },
    mounted() {
      window.addEventListener('click', this.windowClickHandler)
    },
    beforeDestroy() {
      window.removeEventListener('click', this.windowClickHandler)
    }
  })
</script>

</html>
